&{

  position: relative;

  @include fixed-container-xl;

  .product-carousel,
  .select-tickets-form {
    @include grid-column(1, $product-grid-xs);

    .ui-ribbon {
      top: 20px;
    }

    margin-top: 15px;
    margin-bottom: 15px;

    @include grid-media($product-grid-md) {
      @include grid-column(1, $product-grid-md);
      left: 20px;
      margin-top: 20px;
      margin-bottom: 20px;

      .ui-ribbon {
        left: 20px;
      }
    }
  }

  .product-details,
  .need-to-know {
    @include grid-column(1, $product-grid-xs);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    
    @include grid-media($product-grid-md) {
      @include grid-column(2, $product-grid-md);
    }


    h3 {
      margin-top: 0;
    }

    h5 {
      border-bottom: 1px solid $colour-quartz;
      font-size: 18px;
      letter-spacing: 2px;
      margin: 0 0 10px;
      padding-bottom: 10px;
    }

    .small-print {
      color: $colour-slate-light;
      font-size: 12px;
      line-height: 1.5em;
      padding: 15px;
    }

    ul {
      list-style-position: inside;
      padding-left: 6px;
    }

  }

  .product-benefits,
  .need-to-know,
  .product-terms {
    @include grid-column(12);
    margin-bottom: 30px;
  }

  
  .component-ui-breadcrumbs {
    margin-top: 0;
    margin-bottom: 15px;
  }

}
