{{yield breadcrumbs}}
<div class="product-header">
  <div class="product-carousel">
    {{yield carousel}}
  </div>
  <div class="product-form">
    {{yield form}}
  </div>
</div>
<div class="product-body">
  <div class="product-details">
    {{yield details}}
  </div>
</div>
