$btn-size-xs: 40px;
$btn-size-sm: 50px;
$value-width-xs: 32px;
$value-width-sm: 40px;
$text-colour: $colour-amethyst-light;
$disabled-colour: $colour-quartz;
$value-colour: $colour-amber;
$inner-border-colour: $colour-quartz;
$price-colour: $colour-amethyst-light;

& {
  @include clearfix();
  padding: 15px;

  .quantity {
    display: inline-block;
  }

  .sku-details {
    float: right;
    font-size: 14px;
    margin-right: 0px;
    margin-top: -2px;

    @include grid-media($grid-lg) {
      margin-top: 2px;
      font-size: 18px;
      margin-right: 10px;
    }
  }
  
  .increment,
  .decrement {
    background: transparent;
    border: 1px solid $inner-border-colour;
    border-radius: 100px;
    box-shadow: none;
    color: $value-colour;
    //font-family: Helvetica; // To make button consistent across stores
    float: left;
    font-size: 24px;
    line-height: 24px;
    padding: 0;
    font-weight: 500;
    height: $btn-size-xs;
    text-align: center;
    width: $btn-size-xs;

    @include grid-media($grid-md) {
      font-size: 24px;
      line-height: 24px; 
      height: $btn-size-xs;    
      width: $btn-size-xs;
    }

    @include grid-media($grid-lg) {
       font-size: 32px;
       line-height: 28px;
       height: $btn-size-sm;
       width: $btn-size-sm;
    }


    .minus,
    .plus {
      vertical-align: text-top;
    }

    &:hover {
      color: lighten($value-colour, 10%);
    }
    
    &:disabled {
      color: $disabled-colour;
    
      &:hover {
        color: $disabled-colour;
      }
  }

  }

  .quantity-value {
    border: 1px solid $colour-quartz;
    float: left;
    font-size: 14px;
    height: $btn-size-xs;
    line-height: $btn-size-xs;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width: $value-width-xs;

    @include grid-media($grid-md) {
      font-size: 14px;
      line-height: $btn-size-xs; 
      height: $btn-size-xs;    
      width: $btn-size-xs;
    }

    @include grid-media($grid-lg) {
      font-size: 18px;
      line-height: $btn-size-sm;
      height: $btn-size-sm;
      width: $btn-size-sm;
    }
  }

  .name {
    font-weight: 500;
    text-align: right;
  }

  .price {
    color: $price-colour;
    font-size: 14px;
    line-height: 1em;
    text-align: right;
  }
}
