button {
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

$grid-xs: (  
  columns: 12,
  gutter: 15px,
  media: 0px
);

$container-sm: 576px;

$grid-sm: (
  columns: 12,
  gutter: 15px,
  media: $container-sm
);

$container-md: 768px;

$grid-md: (
  columns: 12,
  gutter: 15px,
  media: $container-md
);


$container-lg: 992px;

$grid-lg: (
  columns: 12,
  gutter: 15px,
  media: $container-lg
);

$container-xl: 1200px;

$grid-xl: (
  columns: 12,
  gutter: 30px,
  media: $container-xl
);

$grid-single-no-gutter: (
  columns: 1,
  gutter: 0,
  media: $container-lg
);

$picture-grid: (
  columns: 2,
  gutter: 0px,
  media: 0
);

$product-grid-xs: (
  columns: 1,
  gutter: 20px,
  media: 0
);

$product-grid-md: (
  columns: 2,
  gutter: 20px,
  media: $container-md
);

$grid-instagram-xs: (
  columns: 3,
  gutter: 0px,
  media: 0
);

$grid-instagram-sm: (
  columns: 6,
  gutter: 0px,
  media: $container-sm
);

$url--assets: "";
$url--images: "#{$url--assets}/images";
$url--brand: "#{$url--images}/brand";
$url--icons: "#{$url--images}/icons";
$url--backgrounds: "#{$url--images}/backgrounds";
$url--misc: "#{$url--images}/misc";
$url--payment-cards: "#{$url--images}/payment-cards";
$url--affiliations: "#{$url--images}/affiliations";
$url--awards: "#{$url--images}/awards";

$transition-function--smooth: cubic-bezier(0.230, 0.835, 0.490, 0.885);


@mixin fixed-container-xl {
  margin: 0 auto;
  max-width: $container-xl;
  overflow: auto;
}

@mixin fixed-container-lg {
  margin: 0 auto;
  max-width: $container-lg;
  overflow: auto;
}

@mixin fixed-container-md {
  margin: 0 auto;
  max-width: $container-md;
  overflow: auto;
}