@mixin debuttonify() {
  font-weight: normal;
  border-radius: 0;
  padding: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    box-shadow: none;
  }

  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
    outline: none;
  }

  &:hover,
  &:focus {
    background-color: transparent;
  }

  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

@mixin filter-custom($var: none) {
  -webkit-filter: $var;
  filter: $var;
}