$colour-flat-white: #fff;
$colour-flat-white-dark: darken($colour-flat-white, 10%);

$colour-black: #000000;

$colour-ochre: #ad4415;
$colour-ochre-light: lighten($colour-ochre, 10%);
$colour-amber: #ce6023;
$colour-amber-dark: darken($colour-amber, 10%);
$colour-amber-light: lighten($colour-amber, 10%);
$colour-sulphur: #f8c42a;
$colour-sulphur-light: lighten($colour-sulphur, 10%);
$colour-sulphur-dark: darken($colour-sulphur, 10%);
$colour-azurite: #577991;
$colour-azurite-light: lighten($colour-azurite, 10%);
$colour-azurite-dark: darken($colour-azurite, 10%);
$colour-amethyst: #765f68;
$colour-amethyst-light: lighten($colour-amethyst, 10%);
$colour-quartz: #d9d2d0;
$colour-quartz-light: lighten($colour-quartz, 10%);
$colour-quartz-dark: darken($colour-quartz, 10%);
$colour-quartz-transparent: rgba(194,183,180, 0.3);

$colour-coal: #2b323a;
$colour-coal-dark: darken($colour-coal, 10%);

$colour-slate: #393a40;
$colour-slate-light: lighten($colour-slate, 10%);
$colour-slate-dark: darken($colour-slate, 10%);

$colour-jade: #888917;
$colour-jade-dark: darken($colour-jade, 10%);
$colour-jade-light: lighten($colour-jade, 10%);

$colour-oliven: #616a32;

$colour-cinnabar: #f4422e;
$colour-cinnabar-dark: darken($colour-cinnabar, 10%);

$colour-coal: #2b323a;
$colour-coal-dark: darken($colour-coal, 10%);

$colour-loadstone: rgba(0, 0, 0, 0.7);

$colour-manatee: #878E97;

$colour-porcelain: #e6e5e4;

$colour-footfall-quiet: $colour-azurite;
$colour-footfall-moderate: $colour-amber;
$colour-footfall-busy: $colour-cinnabar-dark;
$colour-footfall-sold-out: $colour-quartz; 
