<table class="{{payload.cssClass}}">
  {{#each rows as |values|}}
    <tr>
      {{#each values as |value|}}
        <td>
          {{value}}
        </td>
      {{/each}}
    </tr>
  {{/each}}
</table>