&{

  $modal-bg-colour: $colour-flat-white;
  $theme-colour: $colour-quartz;

  background: $modal-bg-colour;
  display: block;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1100;

  @include grid-media($grid-sm) {
    padding-top: 50px;
  }

  .quicktickets-form {
    @include grid-column(12);
  
    @include grid-media($grid-sm) {
      @include grid-column(10);
      @include grid-push(1);
    }
  
    @include grid-media($grid-md) {
      @include grid-column(8);
      @include grid-push(2);
    }

    @include grid-media($grid-lg) {
      @include grid-column(6);
      @include grid-push(3);
    }


  }

  .header {
    border-bottom: 1px solid $theme-colour;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    position: relative;
  }

  .cheddar-logo {
    $ratio: .9;
    $ratio-sm: 0.7;
    $height: (107px * $ratio);
    $width:(330px * $ratio);
    @include hide-text();
    background: url("#{$url--brand}/cheddar-logo.png") no-repeat 0 0;
    background-size: ($width * $ratio) ($height * $ratio);
    display: block;
    height: ($height * $ratio);
    margin: 0 auto;
    width: ($width * $ratio);

    @include grid-media($grid-sm) {
      background-size: ($width * $ratio-sm) ($height * $ratio-sm);
    }

    @include grid-media($grid-lg) {
       background-size: ($width * $ratio) ($height * $ratio);   
    }

  }

  .close-button {
    @include hide-text();
    text-indent: 1000%; // Hack to hide text properly
    $height: 24px;
    $width: 24px;
    background: url("#{$url--icons}/cross-grey-on-white.png") no-repeat center center;
    display: block;
    height: $height;
    position: absolute;
    right: 30px;
    top: 30px;
    border: 0px;
    width: $width;
  }

  .component-select-tickets-form {

    background: transparent;
    border-bottom: none;
    padding-top: 15px;

    .select-tickets-form-inner {
      @include grid-column(12);

      @include grid-media($grid-sm) {
        @include grid-shift(1);
        @include grid-column(10);
      }
    }

    .ticket-title {
      border-bottom: 2px solid $theme-colour;
      margin-bottom: 30px;
      padding-bottom: 20px;

      .top {
        font-size: 32px;

        @include grid-media($grid-sm) {
          font-size: 50px;
        }
      }

      .bottom {
        font-size: 24px;

        @include grid-media($grid-sm) {
          font-size: 32px;
        }
      }
    }

    .instructions {
      display: none;
    }
  }

  .component-ui-spinner {
    border-color: $colour-amber-light !important;
    display: block;
    margin: 50px auto;
  }
}