&{
  $bg-colour: $colour-flat-white;
  $border-bottom-colour: $colour-quartz;

  background: $bg-colour;
  border-bottom: 3px solid $border-bottom-colour;

  .product-prices {
    @include grid-column(12);
    @include grid-media($grid-md) {
      @include grid-column(6);    
    }
  }

  .product-description {
    @include grid-column(12);
    @include grid-media($grid-md) {
      @include grid-column(6);    
    }
  }

  .component-price-table {
    td {
      width: 25%;
    }
    td:first-child {
      width: 50%;
    }
  }

}