<div class="title">
  <h3>{{title}}</h3>
</div>

<div class="product-columns">
  <div class="product-prices">
    <h5>Ticket prices</h5>

    {{price-table
      fields=priceTableFields
      data=priceTableData
    }}

    <div class="small-print">
      {{#if smallPrint}}
        * {{{smallPrint}}}
      {{/if}}
    </div>

  </div>

  <div class="product-description">
    {{yield description}}
  </div>
</div>