$button-bg-colour: $colour-amber-light;
$button-hover-bg-colour: $colour-amber-light;
$button-border-colour: $colour-sulphur-dark;
$button-hover-border-colour: darken($colour-sulphur-dark, 5%);
$button-colour: $colour-flat-white;

$button-disabled-colour: $colour-flat-white;
$button-disabled-bg-colour: $colour-quartz-light;
$button-disabled-border-colour: $colour-quartz;

$button-subtle-colour: $colour-slate;
$button-subtle-bg-colour: $colour-quartz;
$button-subtle-border-colour: $colour-quartz-light;

$transition-time: 300ms;
$transition-label-out-time: 150ms;
$transition-spinner-in-time: 150ms;


&.ui-button {
  background: $colour-amber;
  border: 0;
  border-bottom: 3px solid $colour-amber-dark;
  color: $colour-flat-white;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  line-height: 1em;
  padding: 12px 35px 9px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background: darken($colour-amber, 3%);
  }

  &:active {
    border-bottom: none;
    margin-top: 3px;
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.ui-spinner {
  opacity: 0;
  border: solid $button-colour !important;
  border-width: 2px 0 0 0 !important;
  height: 24px !important;
  left: 50%;
  margin-left: -12px;
  position: absolute;
  top: 15px;
  width: 24px !important;
}


&.is-loading {

  .ui-spinner {
    transition: opacity $transition-spinner-in-time $transition-label-out-time;
    opacity: 1;
  }

  .label {
    transition: opacity $transition-label-out-time;
    opacity: 0;
  }

}

&:disabled {

  background-color: $button-disabled-bg-colour;
  border-color: $button-disabled-border-colour;
  color: $button-disabled-colour;
  cursor: auto;

  .ui-spinner {
    border-top: solid $button-disabled-colour !important;
    border-top-width: 2px !important;
  }

  &:active {
    border-bottom: 3px solid $button-disabled-border-colour;
    margin-top: 0;
    outline: none;
  }

  &:hover {
    background-color: $button-disabled-bg-colour;
    border-color: $button-disabled-border-colour;
    color: $button-disabled-colour;

    .ui-spinner {
      border-top: solid $button-disabled-colour !important;
      border-top-width: 2px !important;
    }
  }
}

&.large {
  font-size: 18px;
  padding: 17px 50px 15px;
}

&.small {
  font-size: 14px;
  padding: 10px 15px 8px;
}

