$bg-colour: $colour-quartz;
$code-bg-colour: rgba(130, 185, 68, 0.37);

& {

  @include grid-container();
  background: $bg-colour;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  text-align: left;
}

.title {
  @include grid-column(12);
  margin-bottom: 15px;
}

.code {
  background: $code-bg-colour;
  border-radius: 100px;
  display: inline-block;
  font-size: 16px;
  line-height: 1em;
  padding: 10px 15px;
}

.description {
  @include grid-column(12);
}

.component-ui-button-text {
  float: right;

  .label {
    border-bottom: 1px solid $colour-quartz-dark;
    color: $colour-quartz-dark;
    font-size: 14px;
  }

  &:hover {
    .label {
      border-bottom: 1px solid $colour-amber-light;
      color: $colour-amber-light;
    }
  }
}
