<form class="remove-vouchercode-form">
  <div class="title">
    <span class="code">{{promotionLine.promotion.code}}</span>
    {{button-text
      label="Remove"
      theme="subtle"
      size="small"
      onclick=(action "submit")
    }}
  </div>
  <div class="description">{{{promotionLine.promotion.description}}}</div>
</form>