.heading {
  color: $colour-coal;
  font-family: $font-family-heading;
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.total-item-count,
.total-price,
.payment,
.unpaid-balance {

  @include grid-container;
  margin-bottom: 5px;

  .label {
    float: left;
  }

  .value {
    text-align: right;
  }
}

.total-item-count {
  font-size: 18px;
  font-weight: 500;
}

.payments {
  border-top: 1px solid $colour-quartz;
  margin-top: 20px;
  padding-top: 15px;
}
.unpaid-balance {
  border-top: 1px solid $colour-quartz;
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  padding-top: 15px;
}

.footer-actions {
  border-top: 1px solid $colour-quartz;
  margin-top: 20px;
  padding-top: 15px;
  text-align: right;
}

.saving {
  background: $colour-quartz;
  margin-bottom: 15px;
  padding: 15px;

  h4 {
    margin: 0 0 5px;
  }

  .amount {
    color: $colour-quartz-dark;
  }

}

.ui-button {
  text-align: center;
  width: 100%;
}

.back-to-basket-btn {
  border-bottom: 1px solid $colour-quartz;
  color: $colour-quartz;
  display: inline-block;
  font-size: 14px;
  line-height: 1.3em;

  &:hover {
    border-bottom-color: $colour-amber-light;
    color: $colour-amber-light;
  }
}
