& {
  padding-top: 50px;
  padding-bottom: 50px;
}

.checkout {
  @include grid-container;
  @include fixed-container-xl;
  @include grid-media($grid-sm) {
    padding: 0 15px;
  }
}

.major-content {
  margin-bottom: 30px;
  @include grid-column(1, $product-grid-xs);
   
  @include grid-media($grid-sm) {
    @include grid-column(8);
  }
}

.minor-content {
  @include grid-column(1, $product-grid-xs);
  @include grid-media($grid-sm) {
    @include grid-column(4);
  }
}

h1 {
  line-height: 1.2em;
  margin: 0 0 -10px;
}

.checkout-btn-xs.component-ui-link-button-raised.is-full-width {
  display: block;
  margin-bottom: 30px;
  margin-top: -10px;
}

.btn-continue {
  float: right;
}