&{
  position: relative;
  text-align: center;
  background: $colour-slate;

  .card-inner {
    height: 100%;
  }
  
  .ui-button,
  .ui-button-jade {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translatex(-50%);
  }
}