{{#picture-card
  cardImage=cardImage
  label=label
}}

  {{yield}}

  <div class="cta">
    {{ui-button
      label=ctaLinkLabel
      onclick=(action displayProduct)
    }}
  </div>
{{/picture-card}}