{{#picture-card
  cardImage=cardImage
  label=label
}}

  {{yield}}

  {{#if ctaLinkLabel}}
    <div class="cta">
      {{ui-button
        label=ctaLinkLabel
        onclick=(action displayProduct)
      }}
    </div>
  {{/if}}
{{/picture-card}}